<!-- <script>

    var button = document.getElementById("clickme");
    count = 0;
    button.click = function() {
        count += 1;
        button.innerHTML = "count" + count;
    }


</script> -->

<div>
    <div class="create-post-block">
        <div class="row option-block">
            <div class="col-lg-2">
                <i class="fa-solid fa-user fa-xl pt-3 pl-2"></i>
            </div>
            <div class="col col-lg-2 create-btn">
                <%- include('createpost'); -%>
            </div>
        </div>
        <div class="row option-block">
            <div class="col option-btn">
                <button><i class="fa-regular fa-file-lines fa-xl"></i> Write</button>
            </div>
            <div class="col option-btn">
                <button><i class="fa-solid fa-fire fa-xl"></i> Popular</button>
            </div>
            <div class="col option-btn">
                <button><i class="fa-solid fa-image fa-xl"></i> Photo</button>
            </div>
        </div>

    </div>

    <div>
        <% newListItems.forEach(function(item){ %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What is a positive work culture?</h5>
                    <p class="card-text">
                        <%= item.postContent.substring(0, 200) + "..." %>
                    </p>
                </div>
                <img src="../images/girl.jpg" alt="">
                <!-- image need to get here from database -->

                <div class="card-btn">
                    <button id="btn"><i class="fa-regular fa-thumbs-up fa-lg"></i> <span id="display"></span> </button>
                    <button><i class="fa-regular fa-thumbs-down fa-lg"></i> </button>
                    <button onClick="comment()"><i class="fa-regular fa-comments fa-lg"></i> </button>
                    <!-- <button onClick="changeColor()" id="myText">Click me!</button> -->
                </div>

                <div class="comment">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="comment">
                        </div>
                       
                    </form>

                </div>
            </div>
            <% });%>


    </div>
</div>

<script type="text/javascript">
    let count = 0;
    let btn = document.getElementById("btn");
    let disp = document.getElementById("display");

    btn.onclick = function () {
        count++;
        disp.innerHTML = count;
    }
</script>

