<%- include('header'); -%>

  <%- include('navbar'); -%>

    <div class="container fixed-top">
      <div class="body-container">
        <div class="row gx-5">

          <!-- Side options menu -->
          
          <%- include('sidemenu'); -%>

          <!-- middle post section -->
          <div class="col col-sm-12 col-lg-7 grid-c overflow-auto">

            <%- include('allposts'); -%>

          </div>

          <!-- right side ad section -->
          <div class="col col-sm-12 col-lg-3 ad">
            <div class="p-3 ad-d">
              <div>
                <img src="/images/mac.jpg" alt="mac-donold's">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    