<%- include('header'); -%>


<button id="loginButton" class="userIcon">
    Login
</button>

<div id="loginPopup" class="signup-log">
    <div class="signup-content">
        <div class="close-btn">
            <button class="form-close-btn" id="closePopup">
                <i class="fa-solid fa-x fa-sm"></i>
            </button> 
        </div>
        <form action="/login" method="post">  
            <div class="form-group signup-form">
                <!-- <label for="exampleInputEmail1">Email address</label> -->
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group signup-form">
                <!-- <label for="exampleInputPassword1">Password</label> -->
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn-des" >
                Login
            </button>
        </form>      
    </div>
</div>


<script>
    loginButton.addEventListener("click", function () {
        loginPopup.classList.add("show");
    });

    closePopup.addEventListener("click", function () {
        loginPopup.classList.remove("show");
    });
    // id="closePopup"
</script>