<%- include('header'); -%>

<nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-c">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#"><img src="/images/mind-logo.png" alt="mind-logo"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/"><button class="btn home-btn"><i class="fa-solid fa-house fa-2xl"></i></button></a>  
          </li>
        </ul>
        <form class="d-flex search-bar" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
        </form>
        <div class="user-btn">         
          <button class="btn"><i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i></button>
        </div>
      </div>
      
    </div>
  </nav>