<%- include('header'); -%>


<div class="col col-sm-12 col-lg-2 options-d">
    <div class="p-1">
        <div class="options">
            <button class="btn"><i class="fa-solid fa-arrow-right fa-lg"></i> Your fav</button>
            <button class="btn"><i class="fa-solid fa-arrow-right fa-lg"></i> Pouplar</button>
            <button class="btn"><i class="fa-solid fa-arrow-right fa-lg"></i> News</button>
            <button class="btn"><i class="fa-solid fa-arrow-right fa-lg"></i> Tranding</button>
        </div>
    </div>
</div>