<%- include('header') -%>

    <button id="signupButton" class="userIcon">
        Signup
    </button>
    
    <div id="signupPopup" class="signup-log">
        <div class="signup-content">
            <div class="close-btn">
                <button class="form-close-btn" id="closePopup">
                    <i class="fa-solid fa-x fa-sm"></i>
                </button>
            </div>
            <form method="post" action="\signup" class="container">
                <div class="form-group signup-form" >
                    <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="name">
                </div>
                <div class="form-group signup-form">
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group signup-form">
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                        placeholder="Password">
                </div>
                <button type="submit" class="btn btn-des">Submit</button>
            </form>
        </div>
    </div>


    <script>
        signupButton.addEventListener("click", function () {
            signupPopup.classList.add("show");
        });

        closePopup.addEventListener("click", function () {
            signupPopup.classList.remove("show");
        });
    </script>