body {
    background-color: #f3f2ef;
}

.logo {
    color: #29549e;
}

.navbar-brand img {
    height: 40px;
}

.navbar-c {  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
}

/* navbar home button */

.nav-home {
    color: white;
    cursor: pointer;
}

.search-bar {  
    border-radius: 3rem;
    height: 30px;
    margin-top: 15px;
    width: 45rem;
}

.user-btn {
    /* padding-left: 50px; */
    text-align: center;
    width: 15rem;
}

.home-btn {

    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }


.side-opt {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    margin-top: 15px;
    height: 400px;
} 
.options-d{
    height: 400px;
}
.options {
    margin-top: 20px;
}

.options button {
    background-color: #e8e9eb;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 8rem;
}
.grid-c {
    /* border: 1px solid red; */
    height: 40rem;
}


/* body start here */

.body-container{
    /* border: 1px solid red; */
    height: 600px;
    margin-top: 70px;
}

.ad { 
    overflow: hidden;
    margin-top: 15px;
}
.ad-d {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ad img {
    border-radius: 8px;
    height: 350px;
    width: 200px;
}

/* post header */

.create-post-block {
    background-color: #FFFFFF;
    margin-top: -0.2rem;
    border-radius: 0.5rem;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 7rem;
    width: 100%;
}


.create-btn {
    border-radius: 1rem;
    border: none;
    height: 2rem;
    width: 29rem;
}

.create-btn button:hover {
    background-color: #acadb0;
}

/* ----------------------------Side block ------------------------ */

.option-block {
    margin: 0.7rem;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.option-btn button {
    border-radius: 1rem;
    border: none;
    height: 2rem;
    width: 10rem;
}

.option-btn button:hover {
    background-color: #acadb0;
}
/* cards  */

.card-btn {
    margin: 0.7rem 0rem 0.7rem 1rem;
}
.card-btn button {
    border: none;
    border-radius: 1rem;
    background-color: none;
    height: 2rem;
    width: 7rem;
}

.card-btn button:hover {
    background-color: rgb(215, 211, 211);
}

.card{
    margin-top: 1rem;
    width: 39rem;
}

.create-post {
    background-color: #91C8E4;
    border-radius: 1rem;
    height: 27rem;
    margin-top: 2rem;
    padding: 2rem;
    width: 42rem;
}

.post-block h6 {
    text-align: center;
}
.form-txt {
    height: 18rem;
}
.post-btn {
    border-radius: 5px;
    margin-left: 2px;
}

/* comment section */

.comment {
    background-color: none;
    height: 4rem;
    margin-left: 40px;
    width: 80%;

}

/* ------------------user details block start here----------------- */

.userIcon{
    background: none;
    border: none;
}


.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    border-radius: 10px;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}

.user-close-btn {
    border: 1px solid #888888;
    border-radius: 5px;
    height: 2rem;
    width: 3rem;
}

.login-btn {
    border: none;
    background: none;
}







